*{
    margin: 0;
    padding: 0;
}

.cabecalho-lista-item {
    background-color: #270c91;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}